section
{
  margin: 150px 0;
}
.apartment-container {
  margin: 0 auto;
  position: relative;
  height: 550px;
  text-align: left;
  background: url("https://res.cloudinary.com/apartmentlist/image/upload/s--HRoGG_hz--/t_web-base/c_fill,g_auto,h_1016,w_2400/c_scale,w_2400/v1/web/static/hero_living_room.jpg") no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  border: 30px;
  border-radius: 4px;
  .btn {
    font-size: 1.4em;
    padding: 12px 22px;
    background: rgba(50,50,50,.5);
    border: 4px solid $old-gold;
    border-radius: 50%;
    text-transform: uppercase;
  }
  .btn:hover {
    background: rgba(182,148,76,.5);
    border: 4px solid #222;
    text-shadow: 1px 1px #aaa;
  }
  }
