.apartment-container {
  position: relative;
  margin-bottom: 5%;
  padding: 5%;
  height: 200px;
  border-radius: 4px;
    img {
      max-height: 200px;
      max-width: 250px;
    }
    .banner-heading {
      position: absolute;
      background-color: rgba(20,20,20,.6);
      top: 5%;
      padding: 2%;
      font-size: 3em;
    }
    .banner-decription {
      position: absolute;
      background-color: rgba(20,20,20,.6);
      top: 40%;
      padding: 2%;
      font-size: 1.3em;
      }
    .btn {
      position: absolute;
      top: 55%;
      padding: 5px;
      right: 3%;
      bottom: 15%;
      font-size: 1.4em;
      padding: 12px 22px;
      background: rgb(50,50,50);
      border: 2px solid $old-gold;
      border-radius: 20% 0 20%;
      text-transform: uppercase;
    }
    .btn:hover {
      background: rgb(182,148,76);
      border: 2px solid #222;
      text-shadow: 1px 1px #aaa;
      }
    }

  @media (max-width: 400px) {
    section {
      margin: 10px;
    }
  }
